* {
  font-family: sans-serif;
}

body {
  margin: 0;
  width: 100%;
}

/*nav styling*/

/*floats logo left*/
.left {
  float: left;
}

/*sizes the logo*/
.nav img {
  width: 3.3em;
}

.nav h1 {
  margin: 0;
}

/*helps display nav components inline*/
.clear {
  clear: both;
}

.nav{
  /*position: fixed;*/
  width: 100%;
  background-color: white;
}

.nav-tabs{
  display: inline-block;
  padding: 0;
  float: right;
}

.nav-tabs li {
  float: left;
  margin-right: 20px;
}

.nav-tabs li {
  display: inline;
  /*display inlines shows the li elements horizontally*/
  text-decoration: none;
  /*removes bullet point styling*/
  padding: 1em;
  /*margin and padding at space around the li elemenets*/
  background-color: #704C38;
  border-radius: 2em;
}

add effects on hover
.nav-tabs li:hover {
  color: blue;
}




/*header styling*/
header {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1431975562098-bac8ded504c7?crop=entropy&dpr=0.75&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925");
  padding: 2em;
}

header h1 {
  font-family: fantasy;
  font-size: 6em;
  margin: 0;
}

header h3 {
  font-size: 2.5em;
  margin: 0;
  font-weight: 100;
  color: white;
}



.row{
  width: 100%;
  display: inline;
}

.left-div{
  width: 30%;
  padding: 3em;
  display: inline-block;

}

img{
  width:50em;
  text-align: right;
}

.right-div {
  width: 60%;
  display: inline-block;

}

.main {
  text-align: center;
}

.section-two{
  background-color: #704C38;
  width:22%;
  height:10em;
  display: inline-block;
}

.section-two h1 {
  font-family: fantasy;
  font-size: 4em;
  color: white;
}

.section-two:hover {
  background-color: #777572;
}


footer {
 margin-top: 1em;
 color: #704C38;
 text-align: center;
 padding: 1em;
 background-color: #777572;
}
